/* Font */
@font-face {
    font-family: 'BebasNeue';
    src: url(../T5b/fonts/BebasNeue-Regular.woff) format('woff');
}

@font-face {
    font-family: 'NotoSans';
    src: url(../T5b/fonts/NotoSans-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-Black.woff2') format('woff2'),
        url('Butler-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-Light.woff2') format('woff2'),
        url('Butler-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


/* Animation */
@keyframes AnimasiBackground {
    from {
    }

    to {
        
    }
}

@keyframes kolomkiri {
    from {
        display: inline;

        position: absolute;
        left: -200px;
        width: 200px;
        height: 600px;
        text-align: center;
    }

    to {
        display: inline;

        position: absolute;
        left: 0;
        width: 200px;
        height: 600px;
        text-align: center;
    
    }
} 

@keyframes  class1 {
    from {
        display: inline;

        position: absolute;
        top: 800px;
        text-align: center;
    }

    to {
        display: inline;

        position: absolute;
        top: 150px;
        width: 150px;
        height: 450px;
        text-align: center;
    
    }
}  

@keyframes  class2 {
    from {
        display: inline;

        position: absolute;
        top: 800px;
        text-align: center;
    }

    to {
        display: inline;

        position: absolute;
        top: 150px;
        width: 150px;
        height: 450px;
        text-align: center;
    
    }
}  


@keyframes front {
    from {
        margin-top: -200px;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


/* Style */
body {
    background-color: #3f3f3f;
    color: #333;
    bottom: 10px;
    
    
}

.first-page {
    background-image: url(img/backgrounds/Background.png);
    height: 650px;
    margin: auto;
    border: 1px solid rgb(255, 255, 255);
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

    .front {
        text-align: center;
    }

        .title {
            padding: 20px;
            margin-top: 40px;
            animation: front 4s;
        }

        .Meet {
            margin-top: 20px;
            color: #eaeaea;
            font:70px/10px 'BebasNeue', 'Arial Narrow', arial, sans-serif;
            animation: front 4s;
        }

        .feat {
            margin-top: -20px;
            color: #eaeaea;
            font: 40px/10px 'Butler-Black.woff';
            animation: front 4s;
        }

        .logo {
            box-shadow: 0px 10px 10px 0px black;
            zoom: 40%;
            animation: front 4s;
        }

    .kolomkiri {
        display: inline;

        position: absolute;
        left: 0;
        width: 200px;
        height: 600px;
        text-align: center;
        animation: kolomkiri 4s forwards;
    }

        .kolomkiri img {
            margin-top: 40px;
            border-radius: 20px;
            transition: .5s;
        }

        .kolomkiri img:hover{
            background-color: #000000;
            border-radius: 20px;
            transform: scale(1.2);

        }

        .kolomkiri img:active {
            background-color: #12276b;
            transition: .1s;
        }

    .kolomkanan {
        display: inline;
        position: absolute;
        right: 0;
        width: 200px;
        height: 600px;
        text-align: center;
        animation: kolomkanan 4s forwards;
    }

            @keyframes kolomkanan {
                from {
                    display: inline;
                    position: absolute;
                    right: -200px;
                    width: 200px;
                    height: 600px;
                    text-align: center;
                }
    }

        .kolomkanan img {
            margin-top: 40px;
            border-radius: 20px;
            transition: .5s;
            
        }

        .kolomkanan img:hover {
            background-color: #000000;
            border-radius: 20px;
            transform: scale(1.2);
        }

        .kolomkanan img:active {
            background-color: #12276b;
            transition: .1s;
        }


    .class1 {
        display: inline-block;

        position: absolute;
        top: 20%;
        left: 200px;
        width: 50px;
        height: 450px;
        text-align: center;
        animation: class1 4s forwards;
    }

        .class1 li {
            list-style: none;
        }

        .class1 img {
            position: relative;
            right: 20px;
            padding: 10px;
            border-radius: 30px;
        } 

        .class1 span {
            font: 40px/10px 'BebasNeue';
            display: inline;
            position: absolute;
            left: 10px;
            right: 10px;
            height: 45px;
            margin-top: 27px;
            line-height: 45px;
            text-align: center;
            color: #000000;
            text-shadow: 1px 1px 1px #000000;
            background-color: #ffffff;
            border-radius: 10px;
            opacity: 0;
            transform: scale(0);
            transition: .5s;
        }

            .class1 li:hover span {
                opacity: 1;
                transform: scale(1);
            }


    .class2 {
        display: inline-block;

        position: absolute;
        top: 20%;
        right: 200px;
        width: 50px;
        height: 450px;
        text-align: center;
        animation: class2 4s forwards;
    }

        .class2 li {
            list-style: none;
        }

        .class2 img {
            position: relative;
            right: 20px;
            padding: 10px;
            border-radius: 30px;
        } 

        .class2 span {
            font: 40px/10px 'BebasNeue';
            display: inline;
            position: absolute;
            left: 5px;
            right: 5px;
            height: 45px;
            margin-top: 27px;
            line-height: 45px;
            text-align: center;
            color: #000000;
            text-shadow: 1px 1px 1px #000000;
            background-color: #ffffff;
            border-radius: 10px;
            opacity: 0;
            transform: scale(0);
            transition: .5s;
        }

            .class2 li:hover span {
                opacity: 1;
                transform: scale(1);
            }




.Main-Page {
    background-image: url(../T5b/img/backgrounds/Background2.1.PNG);
    border: 1px solid rgb(255, 255, 255);
    height: 650px;
    position: absolute;
    top: 650px;
    left: 0;
    right: 0;
}

    .isi2 {
        color: #eaeaea;
        padding: 20px;
    }

        .kolomkiri2 {
            font: 17px 'NotoSans';
            display: inline;
            position: absolute;
            left: 70px;
            width: 300px;
            height: 570px;
            text-align: justify;
        }

            .kolomkiri2 .about  {
                font: 40px/10px 'BebasNeue';
                text-align: center;
                color: #ffffff;
            }
        
        .kolomkiri2 .paragraf1 {
            padding: 20px;
        }


        .kolomkanan2 {
            font: 20px 'Butler-Light.woff';
            display: inline;
            position: absolute;
            right: 30px;
            left: 400px;
            height: 570px;
        }

            .title-leaders {
                font: 40px/10px 'BebasNeue';
                text-align: center;
            }

            .ops-leader li {
                list-style: none;
                background-image: url(img/backgrounds/Rhodesmeetingroom.png);
                width: 200px;
                height: 450px;
                border: 5px solid #181818;
                border-radius: 10px;
                float: left;
                position: relative;
                animation: ops-leader 6s ease forwards ;
                transition: .6s;
            }

                .ops-leader li:hover {
                    transform: scale(1.2);
                }

                    .ops-leader .Doctor {
                        z-index: 1;
                    }

                    .ops-leader .Amiya{
                        z-index: 2;
                        position: relative;
                        left: -200px;
                    }

                    .ops-leader .Kaltsit {
                        z-index: 3;
                        position: relative;
                        left: -400px;
                    }


                    @keyframes ops-leader {
                        from {
                            position: relative;
                        }

                        to {
                            position: relative;
                            left: 0;
                            margin-right: 53px;

                        }
                    }



                    














.Ops-list-overlay {
    background-color: rgba(0,0,0,0);
    border: 1px solid rgb(255, 255, 255);
    height: 1500px;
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -99;
    transition: .8s;
}

        .Ops-list-overlay .close {
            position: absolute;
            font: 40px/40px 'NotoSans';
            top: 0;
            right: 0;
            color: white;
            text-decoration: none;
            border: 1px solid #696969;
            background-color: #696969;
            line-height: 14px;
            padding-top: 5px;
            padding-bottom: 20px;
            padding-right: 10px;
            padding-left: 10px;
    }
        .Ops-list-overlay .close:hover {
            background-color: #3f3f43;
        }

        .Ops-list-overlay .close:active {
            background-color: #12276b;
        }
    


                        /* list target */
                        .Ops-list-overlay:target {
                            position: fixed;
                            background-color: rgba(0,0,0,.7);
                            opacity: 1;
                            z-index: 10;
                            animation: front 2s ease;
                        }


    .list-container {
        display: inline;
        background-image: url(img/backgrounds/Rhodescorridor.png);
        border: 6px solid rgb(91, 91, 91);
        margin-top: 25px;
        position: absolute;
        left: 250px;
        right: 250px;
        height: 490px;
    }

        .list-container .back-logo {
            zoom: 55%;
            margin: auto;
            position: absolute;
            left: 0px;
            right: 0px;
            top: 0px;
            bottom: 0px;
            opacity: .5;
        }

        .list-top-bar {
            display: inline;
            border: 3px solid #696969;
            background-color: #696969;
            position: absolute;
            left: 0;
            border-bottom-right-radius: 20px;
            height: 60px;
        }

            .list-top-bar .squad-name {
                color: #ffffff;
                font: 50px/36px 'BebasNeue';
                margin: auto;
                padding-left: 30px;
                padding-right: 90px;
                line-height: 60px;
            }

            .list-top-bar .squad-logo {
                position: absolute;
                right: 3%;
                zoom: 40%;
            }

        .profile-container {
            display: inline-block;
            margin-top: 60px;
            position: absolute;
            right: 0;
            left: 0;
            height: 420px;
            
        }

            .ops-profile {
                list-style: none;
                overflow: hidden;
                display: inline;;
                background-image: url(img/backgrounds/Rhodesdeck.png );
                border: 2px solid #ffffff;
                margin-top: 15px;
                margin-left: 28px;
                width: 110px;
                height: 180px;
                float: left;
                transform: scale(1);
                transition: .5s;
            }  

            .ops-profile:hover {
                transform: scale(1.1);
            }

                .ops-profile .profile-class {
                    position: absolute;
                    border-bottom-right-radius: 10px;
                    top: 0px;
                    left: 40px;
                    zoom: 60%;
                }

                .ops-profile img {
                    margin-left: -40px;
                
                }

                .ops-profile .ops-name {

                    right: 0;
                    left: 0;
                    bottom: 0;
                    height: 40px;
                    border: 3px solid fuchsia;
                    background-color: navy;
                }

                .ops-profile li span {
                    font: 30px/36px 'Butler';
                    font-variant: small-caps;
                    list-style: none;
                    overflow: hidden;
                    display: block;
                    margin-left: -40px;
                    margin-top: 0px;
                    width: 150px;
                    height: 40px;
                    float: left;
                    background-color: rgb(71, 71, 71);
                    position: absolute;
                    top: 140px;
                    text-align: center;
                    line-height: 40px;
                    color: #ffffff;
                    text-shadow: 1px 1px 1px #2d2d2d;
                    opacity: 0;
                    animation: name-span 2s forwards;
                    transition: .3s;
                }
                
                    .ops-profile li a:hover span {
                        overflow: hidden;
                        opacity: 1;
                    }

                @keyframes name-span {
                    from {
                        margin-top: 0px;
                        
                    }

                    to {
                        margin-top: 0px;
                    }
                }





.Ops-Page {
height: 600px;
position: absolute;
top: 0px;
left: 0;
right: 0;
z-index: -999;
opacity: 0;
transition: .8s;
}

     .Ops-Page .close {
        position: absolute;
        font: 40px/40px 'NotoSans';
        top: 0;
        right: 0;
        color: white;
        text-decoration: none;
        border: 1px solid #696969;
        background-color: #696969;
        line-height: 14px;
        padding-top: 5px;
        padding-bottom: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .Ops-Page .close:hover {
        background-color: #3f3f43;
    }

    .Ops-Page.close:active {
        background-color: #12276b;
    }   

     .Ops-Page .back {
        position: absolute;
        font: 40px/40px 'NotoSans';
        top: 0;
        right: 44px;
        color: white;
        text-decoration: none;
        background-color: #696969;
        padding-right: 10px;
        padding-left: 10px;
    }
    .Ops-Page .back:hover {
        background-color: #3f3f43;
    }

    .Ops-Page.back:active {
        background-color: #12276b;
    }   

            /* list target */
            .Ops-Page:target {
                position: fixed;
                background-color: rgba(0,0,0,.7);
                opacity: 1;
                z-index: 20;
                animation: front 2s ease;
            }




.portrait {
z-index: -99;
display: inline;
background-image: url(img/backgrounds/RhodesIsland2.jpg);
border: 8px solid rgb(86, 86, 86);
margin-top: 50px;
position: absolute;
left: 300px;
width: 700px;
height: 500px;

}

.portrait .Operator {
margin-top: 80px;
transform: scale(0.42);
position: absolute;
top: -315px;
left: -360px;
z-index: 1;
}

.portrait .top-bar {
display: inline;
background-color: rgb(86, 86, 86);
position: absolute;
left: 0;
width: 300px;
height: 50px;
}

.portrait .top-bar p {
    color: #ffffff;
    text-align: center;
    font: 40px/36px 'BebasNeue';
    margin: auto;
    line-height: 50px;
}

    .portrait .top-bar .squad {
        position: absolute;
        top: 20px;
        left: -25px;
        transform: scale(0.7);
    }

.portrait .class-bar {
display: inline;
position: absolute;
top: 100px;
left: 200px;
background-color: rgb(255, 255, 255);
width: 300px;
height: 70px;
}

.portrait .class-bar .op-class {
    position: absolute;
    right: 0;
    top: -6px;
    transform: scale(.7);
}
    .portrait .class-bar .name {
        position: absolute;
        bottom: -35px;
        left: 65px;
        color: #000000;
        text-align: center;
        font: 50px/36px 'BebasNeue';
        margin: auto;
    }

.portrait .description-bar {
z-index: -1;
display: inline;
position: absolute;
top: 125px;
left: 250px;
background-color: rgb(48, 48, 48);
opacity: .9;
border: 2px solid rgb(0, 0, 0);
width: 400px;
height: 300px;
overflow: auto;
}

.portrait .description-bar .op-description {
    margin-top: 50px;
    margin-right: 25px;
    margin-left: 25px;
    text-align: justify;
    color: #eaeaea;
    font-family: 'NotoSans';
    font-size: 15px;
}